<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>
    <link href="{{ url_for('static',filename='css/bootstrap-yeti.min.css') }}" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  {% block body %}

    <div class="container">
    <div style="width:50%; margin: 0 auto;margin-top:80px;">
      <form class="form-horizontal" role="form" method="post" action="/login">
           <fieldset>
           <legend><a href="/login">Login</a>  / <a href="/signup">Sign up</a> </legend>
            <div class="form-group">
             <div class="col-lg-10">
                <input type="text" class="form-control" name="email" id="email" placeholder="email" required="true" autofocus="">
              </div>
            </div>
            <div class="form-group">

              <div class="col-lg-10">
                <input type="password" class="form-control" name="password" id="password" placeholder="password" required="true">
{#                <div class="checkbox">#}
{#                  <label>#}
{#                    <input type="checkbox"> Checkbox#}
{#                  </label>#}
{#                </div>#}
              </div>
            </div>
             <div class="form-group">
              <div class="col-lg-10">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
             </div>
            </fieldset>
      </form>

    </div>
</div>
{% endblock %}


  </body>
</html>