{% extends "layout.html" %}


{% block body %}

    <h2>Starter template</h2>
    <h2>Flask with MongoDB,Sijax & Bootstrap</h2>
    <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>

    </br>
    <p> Sijax  Samples <br> ======================  <br>
 		<a href="javascript://" onclick="Sijax.request('say_hello', ['Beka', 'Giga']);">
            Say hello from Beka to Giga!
        </a> 
		<br />
        <a href="javascript://" onclick="Sijax.request('say_goodbye');">
            Say goodbye! 
        </a>
        </p>

{% endblock %}
