{% extends "layout.html" %}


{% block body %}



<div class="row">

  <form class="form-horizontal" method="post" action="/appmaker/objectmaker">
  <fieldset>
  <legend>Create new object</legend>

  <div class="form-group">
    <label for="module" class="col-lg-2 control-label">Module Name</label>
    <div class="col-lg-10">

         <select class="form-control" id="module" name="module">
              {%  for itm in modules %}
                    <option value="{{ itm.id }}">{{ itm.api_name }}</option>
              {%  endfor %}
        </select>

    </div>
  </div>

  <div class="form-group">
    <label for="api_name" class="col-lg-2 control-label">API Name</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" name="api-name" value="{{ api_name }}"
             id="api-name" placeholder="Api name">
    </div>
  </div>

   <div class="form-group">
    <label for="name" class="col-lg-2 control-label">Name</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" name="name" value="{{ name }}"
             id="name" placeholder="name">
    </div>
  </div>


  <div class="form-group">
    <label for="inputEmail" class="col-lg-2 control-label">Description</label>
    <div class="col-lg-10">
      <textarea name="description" id="description"> {{  description }}</textarea>
    </div>
  </div>





  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button class="btn btn-default">Cancel</button>
                   <input type="submit" class="btn btn-primary" value="Submit">
    </div>

  </fieldset>
</form>

</div>
{% endblock %}
